@page "/"

@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Processing
@using SixLabors.ImageSharp.Processing.Processors.Transforms

<style>
    textarea {
        margin: 4px, 4px;
        padding: 4px;
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
        overflow-x: hidden;
        overflow-y: auto;
        text-align: justify;
    }

    table, th, td {
        border: 1px solid black;
    }

    p {
        word-break: break-all
    }
</style>
<div style="width:100%;">
    <div>
        <p>Resize images to your specified sizes!</p>
        Resampler: <select @bind="@selectedResampler">
            @foreach (var resampler in resamplers) {
                <option value=@(resampler.Key)>@(resampler.Key)</option>
            }
        </select>
        <br />
        Preset: <select @onchange=@SetPreset>
            @foreach (var preset in presets) {
                <option value=@(preset.Key)>@(preset.Key)</option>
            }
        </select>
        <br />
        Number of outputs: <input type="number" value="@targets.Count" @onchange=@SetResampler placeholder="Arguments" />
        @foreach (var target in targets) {
            <table>
                <tr>
                    <th>Width</th>
                    <th>Height</th>
                </tr>
                <tr>
                    <td><input type="number" @bind="target.Width" /></td>
                    <td><input type="number" @bind="target.Height" /></td>
                </tr>
            </table>
        }
    </div>


    <div class="drag-drop-zone">
        <InputFile multiple OnChange="HandleSelection" />
        Drop files here, or click to choose files
    </div>

    <div style="height:200px;">
<textarea disabled>@foreach (var line in log) {
        @line@:
    }</textarea>
    </div>

    <div>
        Preset information was taken from the following pages:<br/>
                                                              <a href="https://help.twitch.tv/s/article/subscriber-emoticon-guide" target="_blank">Twitch - Subscriber Emoticon Guide for Partners and Affiliates</a><br />
                                                              <a href="https://help.twitch.tv/s/article/subscriber-badge-guide" target="_blank">Twitch - Subscriber Badge Guide</a><br />
                                                              <a href="https://help.twitch.tv/s/article/channel-page-setup" target="_blank">Twitch - Channel Page Setup</a>
    </div>
</div>

@inject IJSRuntime js
@inject NavigationManager NavMan

@code {

    public class Xy {
        public Xy(int width, int height) {
            Width = width;
            Height = height;
        }
        public int Width;
        public int Height;
    }

    List<string> log = new List<string> { "Log output will be displayed here..." };
    List<Xy> targets = new List<Xy> { new Xy(100, 100) };
    private Dictionary<string, List<Xy>> presets = new Dictionary<string, List<Xy>> {
        { "None", null },
        { "Twitch Subscriber Emoticons (28x, 56x, 112x)", new List<Xy> { new Xy(28, 28), new Xy(56, 56), new Xy(112, 112) } },
        { "Twitch Subscriber Badges (18x, 36x, 72x)", new List<Xy> { new Xy(18, 18), new Xy(36, 36), new Xy(72, 72) } },
        { "Twitch Cover Image (1200x480)", new List<Xy> { new Xy(1200, 480) } },
        { "Twitch Video Player Offline Banner (1920x1080)", new List<Xy> { new Xy(1920, 1080) } }
    };
    private Dictionary<string, IResampler> resamplers = new Dictionary<string, IResampler> {
        { "Bicubic", new BicubicResampler()},
        { "Box", new BoxResampler()},
        { "CatmullRom", new CatmullRomResampler() },
        {"Hermite", new HermiteResampler() },
        {"Lanczos2", new Lanczos2Resampler() },
        {"Lanczos3", new Lanczos3Resampler() },
        {"Lanczos5", new Lanczos5Resampler() },
        {"Lanczos8", new Lanczos8Resampler() },
        {"MitchellNetravali", new MitchellNetravaliResampler() },
        {"NearestNeighbor", new NearestNeighborResampler() },
        {"Robidoux", new RobidouxResampler() },
        {"RobidouxSharp", new RobidouxSharpResampler() },
        {"Spline", new SplineResampler() },
        {"Triangle", new TriangleResampler() },
        {"Welch", new WelchResampler() }
    };

    private string selectedResampler;

    protected override void OnInitialized() {
        selectedResampler = "NearestNeighbor";
    }

    private void SetPreset(ChangeEventArgs e) {
        if (!presets.TryGetValue(e.Value.ToString(), out var res) || res == null) return;
        targets.Clear();
        targets.AddRange(res);
    }

    private void SetResampler(ChangeEventArgs e) {
        var target = (int)double.Parse(e.Value.ToString());
        if (target < 1) return;
        while (target > targets.Count)
            targets.Add(new Xy(100, 100));
        while (target < targets.Count)
            targets.RemoveAt(targets.Count - 1);
    }

    private async Task HandleSelection(IFileListEntry[] files) {
        string last = default;
        using MemoryStream lastMs = new MemoryStream();
        var count = 0;
        using var zipMs = new MemoryStream();
        using (var zip = new System.IO.Compression.ZipArchive(zipMs, System.IO.Compression.ZipArchiveMode.Create)) {
            foreach (var file in files) {
                if (file != null) {
                    last = file.Name;
                    using var ms = await file.ReadAllAsync(int.MaxValue);
                    using var image = Image.Load(ms);
                    Log($"Resizing {last}");
                    StateHasChanged();
                    var targName = Path.ChangeExtension(last, ".png");
                    foreach (var target in targets) {
                        Log($"{target.Width}, {target.Height}");
                        if (target.Width <= 0 || target.Height <= 0) continue;
                        StateHasChanged();
                        var image2 = image.Clone(x => x.Resize(target.Width, target.Height, resamplers[selectedResampler]));
                        lastMs.SetLength(0);
                        image2.Save(lastMs, new SixLabors.ImageSharp.Formats.Png.PngEncoder());
                        using var stream = zip.CreateEntry($"{target.Width}x{target.Height}.{last}").Open();
                        lastMs.Position = 0;
                        lastMs.CopyTo(stream);
                        count++;
                    }
                }
            }
        }
        if (count != 0) {
            Log("Preparing download...");
            StateHasChanged();
            await Task.Delay(10);
            if (count != 1)
                await WebImageResizerUtil.SaveByteArray(js, "WebImageResizer_result.zip", zipMs.ToArray());
            else
                await WebImageResizerUtil.SaveByteArray(js, last, lastMs.ToArray());
        } else
            Log("No files were resized.");
        Log("That's all. Have a nice day.");
    }

    private void Log(string str) {
        log.Insert(0, str);
        if (log.Count > 300)
            log.RemoveRange(300, log.Count - 300);
    }
}
